.home{
    height: 100%;
}
.content{
    max-width: 80%;
    margin: 0 auto;
}
.headimg{
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 69, 122, 0.096), rgba(0, 69, 122, 0.74)), url(../images/bonfire-1867275_1280.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5em;
}
.headerControllers{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    margin-top: 2%;
}
.filters{
    height: 10vh;
}
.SelectHome{
    background-color: #0080c6;
    font-size: 14px;
    font-weight: bold;
    color: #b6b5b5;
    height: 4vh;
    border-radius: 0.6em;
    margin-left: 10px;
    cursor: pointer;
}
.buttonHome{
    width: fit-content;
    height: 4.5vh;
    border-radius: 0.7em;
}
.buttonHome:hover{
    cursor: pointer;
}
.pagination{
    margin-top: 1em;
    display: flex;
    justify-content: end;
    gap: 0.5em;
}
.link{
    font-size: 20px;
    text-decoration: none;
    background-color: #0080c6;
    color: aliceblue;
    border-radius: 1em;
    padding: 0.5em;
}
.link:hover{
    background-color: #02527c;
    transform: scale(1.05);
}
.p{
    color: aliceblue;
    font-size: 20px;
    padding-bottom: 1em;
}
.cardsContainer {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.cardsContainerShow {
    opacity: 1;
}