.background_nav{
    height: 5vh;

    background-color: #2b4558;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding: 0.4em;
    padding-right: 1em;
    padding-left: 1em;
}
.link{
    background-color: #c7c5c5;
    border-radius: 1em;
    padding: 0.3em;
    color: #363636;
    text-decoration: none;
}
.link:hover{
    background-color: #1f64ad;
    transform: scale(1.05);
}